body {
	background-color: black;
	margin: 0px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.nav {
	font-family: 'Teko', sans-serif;
	width: 100%;
}

.header {
	width: 100%;
}

#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

.overlayVideo {
	background-image: linear-gradient(to left, rgb(0,0,0,0) , rgb(31,31,31,0.85));
	z-index: 0;
	min-height: 100%;
	min-width: 100%;
	display: block;
}

.workEntry {
	width: 380px;
	height: 380px;
	display: inline-block;
}

main {
	position: absolute;
	width: 45%;
	height: 50%;
}

section {
	border-style: solid;
	border-color: white;
	width: 100%;
}

article {
	border-color: red;
	border-style: solid;
}

.leftColumn {

}

.rightColumn {
	display: inline;
}

.textOverlay {
	margin-left: 8%;
	margin-top: 20%;
}

.footer {
	width: 100%;
}

.logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    text-align: center;
    padding: 10px 10px;
}

.logo img {
	 width:260px;
	 height:58px;
}

inline-block {
	margin-right: auto;
	margin-left: auto;
}

p {
	color: white;
}

h1 {
	color: white;
	font-size: 64px;
	font-weight: bold;
	font-family: 'Teko', sans-serif;
	margin: 0px;
}

h2 {
	color: white;
	font-family: 'Rubik', sans-serif;
}

h3 {
	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Rubik', sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

@media (max-width: 465px) {
	.logo img {
		max-width: 782px;
		width: 75%;
		height: 75%;
	}

	.logo {
		width: 75%;
	}
}